<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Due</th>
    <th>Status</th>
    <th>Course</th>
    <th>Kind</th>
    <th>Release</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.due %></td>
    <td><%= task.status %></td>
    <td><%= task.course %></td>
    <td><%= task.kind %></td>
    <td><%= task.release %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
