<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Due:</b>
  <%= @task.due %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Course:</b>
  <%= @task.course %>
</p>

<p>
  <b>Kind:</b>
  <%= @task.kind %>
</p>

<p>
  <b>Release:</b>
  <%= @task.release %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
